body {
    margin: 0;
    height: 100%;
    left: 0;
    right: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-align: center;
}
.header {
    background-color: rgb(222, 43, 36);
    height: 870px;
    color: rgb(255, 255, 255);
}
.header-wrapper, .main-wrapper {
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 100px;
}
article {
    font-size: 34px;
}
article > h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.header-article > p {
    margin-top: 10px;
    margin-bottom: 0;
}
.header-article > hr {
    border: none;
    height: 6px;
    background-color: rgb(255, 255, 255);
    width: 50px;
}
.header-images {
    
}
.header-blank-image {
    float: left;
    width: 25%;
    object-fit: cover;
    height: 267px;
    background-color: #f35e59;
}
.header-blank-image-wrapper {
    padding-top: 70px;
}
.header-blank-image-wrapper > h3, p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-blank-image-wrapper > h3 {
    font-size: 35px;
}
.header-blank-image-wrapper > p {
    font-size: 18px;
    font-weight: 600;
}
.header-blank-image-wrapper > img {
    padding-bottom: 15px;
}

  .header-image:hover img {
  transform-origin: center center;
  filter: brightness(50%);
  }

.header-image > img {
    transition: 0.5s all ease-in-out;
    float: left;
    width: 25%;
    height: 267px;
}
.header-blank-image-wrapper:hover > img {
    position: relative;
    -webkit-animation: floatBubble 22s infinite  normal ease-out;
    animation: floatBubble 22s infinite  normal ease-out;
}
@-webkit-keyframes floatBubble {
    0% {
        bottom:0px;
        left: 0;
    }
    100% {
        bottom: 10100px;
        left: 11220px;
    }
}
@keyframes floatBubble {
    0% {
        bottom:0px;
        left: 0;
    }
    100% {
        bottom: 10100px;
        left: 11220px;
    }
}


.main {
    background-color: #1287bf;
    margin-top: 0; 
    height: 870px;
    /* text-align: center; */
    
}
.main-wrapper {
    color: rgb(255, 255, 255);
}
.circle-dropdown {
    margin-top: 18px;
    margin-bottom: 20px;
    display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
}

.circle-dropdown > .arrow {
    display: inline-block;
    margin-top: 25%;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 5px;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
  
}
.submit-form {
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #ffffff;
    height: 450px;
}
.submit-form-wrapper {
    display: block;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.submit-form-wrapper p {
    font-size: 18px;
    font-family: "Helvetica";
    color: rgb(130, 130, 130);
    line-height: 1.467;
    padding-bottom: 15px;
    margin: 0, 0, 0, 0;
}
.submit-form-wrapper input {
    border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: 3px;
  height: 45px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.submit-form-input-wrapper input:focus {
    outline-color: #1287bf;
    outline-style: hidden;
    transition: 0.2s ease all;
}
.submit-form-wrapper input[type="button"] {
    background-color: #de2b24;
    color: #ffffff;
    border-radius: 3px;
    width: 161px;
    height: 50px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.submit-form-wrapper input[type="button"]:hover {
    border-color: #2a2a2a;
    border-style: solid;
    border-width: 1px;
}
.submit-form-input-wrapper {
    margin-top: 8px;
    margin-bottom: 15px;
    margin-right: 20%;
    margin-left: 20%;
}
.submit-form-input-wrapper > input {
  padding-left: 20px;
  font-size: 15px;
}
.submit-form-rectangle {
    bottom: 30px;
    background: white;
    position:  relative;
    margin-left: 44px;
    display: inline-block;
    color: white;
    width: 60px;
  height: 60px;
  border-style: solid;

  transform: rotate(45deg);
 }
 .submit-form-close-x {
    bottom: 22px;
    background: white;
    position: relative;
    float: right;
    left: 16px;
    background-color: red;
    width: 40px;
  height: 40px;
  border-style: solid;
border-radius: 50%;
border-width: 3px;
line-height: 40px;
 }
.close-circle {
    display: relative;
    float: right;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  background-color: red;
}

.footer {
    background-color: #2a2a2a;
    height: 490px;
    padding-top: 90px;
    padding-right: 90px;
    padding-left: 90px;
}
.footer-wrapper {
    padding-right: 25%;
    padding-left: 25%;
    margin-bottom: 40px;
}
.footer-media {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-bottom: 25px;
}
.footer-media img {
    height: auto;    
}
.footer-copyright {
    background-color: #515151;
    color: #cecece;
    height: 70px;
}
.footer-copyright p {
    margin: 0;
    line-height: 70px;
}
.footer-img {
    border-radius: 3px;
    border-color: #515151;
    border-width: 2px;
    border-style: solid;
    width: 25px;
    min-height: 25px;
    max-height: auto;
    margin: 14px 14px 28px 14px;
    padding: 15px;
}
.footer-img:nth-child(1) {
    border-color: #de2b24;
}

.footer-img-container {
   display: inline-flex;
}
.footer-wrapper input[type="button"] {
    background-color: #2a2a2a;
    border-style: solid;
  border-width: 2px;
  border-color: rgb(81, 81, 81);
  color: #ffffff;
  border-radius: 2px;
  width: 153px;
  height: 53px;
  font-size: 17px;
  font-weight: bold;
}

.footer-wrapper input[type="email"] {
    border-radius: 1px;
  background-color: rgb(81, 81, 81);
  color: #8f8f8f;
  height: 50px;
  border: none;
  width: 97%;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 15px;
}
.footer-wrapper input[type="email"]:focus {
    outline: none;
}
